body {
    background-color: black;
    padding: 200px;
}

.parent{
    background-color: bisque;
    height: 500px;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.child{
    background-color: rgb(83, 224, 83);
    height: 200px;
    width : 200px;
    
}